#journey-map {
  width: 100vw;
  height: calc(100vh - 70px);
  position: absolute;

  .marker {
    width: 20px;
  }

  .marker.reachable-station {
    fill: blue;
  }

  .marker.selected-station path {
    fill: red;
  }

  .mapboxgl-popup-tip {
    visibility: hidden;
  }

  .mapboxgl-popup-content {
    background-color: white;
    padding: 4px 10px;
    border-radius: 10px;
  }

  .popup {
    text-align: center;
  }

  .popup div:last-child {
    font-weight: bold;
  }
}

.map-side-bar {
  margin-top: 20px;
}
