#journey-map {
  width: 100vw;
  height: 100vh;
  position: absolute;

  .marker {
    width: 20px;
  }

  .marker.reachable-station {
    fill: blue;
  }

  .marker.selected-station path {
    fill: red;
  }

  .mapboxgl-popup-tip {
    visibility: hidden;
  }

  .mapboxgl-popup-content {
    background-color: white;
    padding: 4px 10px;
    border-radius: 10px;
  }

  .popup {
    text-align: center;
  }

  .popup div:last-child {
    font-weight: bold;
  }
}

.map-side-bar {
  position: relative;
  height: 100vh;

  #cta {
    z-index: 100;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: #30552b;
    font-weight: 800;
    border-radius: 12px;
    padding: 8px 20px;
    font-size: 18px;
    font-family: Playfair Display;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  }
}
