<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://img.theculturetrip.com/wp-content/uploads/2021/03/w8kggx-2.jpg);">
  <div class="container">
    <div class='search_home_container' >
    <%= simple_form_for @journey do |f| %>
      <%= f.select :station_start_id,
              Station.to_select,
              { include_blank: true },
              data: {
                controller: 'tom-select',
                placeholder: "Lyon, Bruxelles, Nice..."
              }%>
      <br>
      <%= f.submit "Lets build this journey!", class: "btn btn-primary my-2 my-sm-0 formcity" %>
    <% end %>
  </div>
  </div>
</div>
