<div class="left-side text-center p-4 pb-0">

  <div class="text-center position-relative">
    <%= simple_form_for(@journey) do |f| %>
      <%= f.input :name, :label => false, wrapper_html: {class: "mb-0 form-inline"} do %>
        <%= f.input_field :name %>
  </div>
  <div class="input-edit-name">
    <%= f.button :submit, "edit name" %>
  </div>
      <% end %>
    <% end %>
  <div class="mx-auto mb-3">
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" id="share" data-text="Hey! look at my journey on Zenloop!" data-hashtags="EcoTrip" data-lang="en" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  </div>

</div>
