<div class="d-flex left-side">
  <%= image_tag "edit-pen.png", class:"pen" %>

  <%= simple_form_for(@journey) do |f| %>
    <div class="d-flex text-btn">
      <%= f.input_field :name %>
      <%= f.button :submit, "save", class: "btn btn-outline-secondary btn-small save-button" %>
    </div>
  <% end %>
</div>
