<div class="d-flex left-side">
  <%= image_tag "edit-pen.png", class:"pen" %>
  <div class="d-flex text-btn">
    <%= simple_form_for @journey, html: { data: { journey_target: "journeyForm" } } do |f| %>
      <%= f.input_field :name, class: "journey-name", data: { journey_target: "nameInput", action: "keyup->journey#autosave" } %>
      <%= f.input_field :photo, as: :file, class: "d-none", data: { journey_target: "photoInput" } %>
    <% end %>
    <button data-action="click->journey#validateJourney" class="btn btn-secondary btn-sm rounded-pill">Validate journey</button>
  </div>
  <%# <div data-journey-target="loader" class= "d-none"> %>
  <div data-journey-target="loader" class="d-none train-background">
    <p class="train-text">  <strong> <i> Saving your map... </i> </strong></p>
    <div class= "train-loader">
      <div class="train-position" >
        <div class="train"></div>
        <div class="track">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <%# </div> %>
      </div>
    </div>
  </div>
</div>
