<ul class="station-list" data-journey-target="stations">
  <li><%= journey.station_start.name %></li>
  <% journey.steps.each do |step| %>
    <li>
      <%= step.line.station_end.name %>
      <%= link_to step_path(step), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </li>
  <% end %>
</ul>
