<br>
<br>
<div class="container">
  <h2 class="text-center">Define your dream itinerary!</h2>
  <%= simple_form_for :search, url: 'journeys', method: "GET", html: { class: 'form-inline' } do |f| %>
    <div class="form-group">
      <%= f.collection_select :name, @stations, :name, :name, {}, class: 'form-control mr-sm-2' %>
    </div>
    <%= f.submit "Search", class: "btn btn-primary my-2 my-sm-0" %>
  <% end %>
</div>
<br>
<br>
<br>
<%#  most popular loops %>
<h2 class="text-center"> Browse the most popular loops</h2>
<br>
<div class="d-flex justify-content-center">
  <div class="card-trip me-3">
    <img src="https://www.eurail.com/content/dam/maps/European%20Highlights%20Itinerary%20Map.adaptive.767.1659462408507.png" />
    <div class="card-trip-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
  <div class="card-trip me-3">
    <img src="https://www.eurail.com/content/dam/maps/European%20Highlights%20Itinerary%20Map.adaptive.767.1659462408507.png" />
    <div class="card-trip-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
  <div class="card-trip me-3">
    <img src="https://www.eurail.com/content/dam/maps/European%20Highlights%20Itinerary%20Map.adaptive.767.1659462408507.png" />
    <div class="card-trip-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
</div>
</div>
