<div class="container">
  <br>
  <h2 class="text-center">From which train station will you be departing?</h2>
  <hr>
  <br>
  <%# search form journey start %>
  <div class='petitcontainer' >
    <%= simple_form_for @journey do |f| %>
      <%= f.select :station_start_id,
              Station.to_select,
              { include_blank: true },
              data: {
                controller: 'tom-select',
                placeholder: "Lyon, Bruxelles, Nice..."
              }%>
      <br>
      <%= f.submit "Lets build this journey!", class: "btn btn-primary my-2 my-sm-0 " %>
    <% end %>
  </div>
  <br>
  <br>
  <br>
  <%#  most popular loops %>
  <h2 class="text-center"> Browse the most popular loops</h2>
  <hr>
  <br>
  <div class="d-flex justify-content-center">
    <div class="card-trip me-3">
      <img src="https://www.eurail.com/content/dam/maps/European%20Highlights%20Itinerary%20Map.adaptive.767.1659462408507.png" />
      <div class="card-trip-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
    <div class="card-trip me-3">
      <img src="https://www.eurail.com/content/dam/maps/European%20Highlights%20Itinerary%20Map.adaptive.767.1659462408507.png" />
      <div class="card-trip-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
    <div class="card-trip me-3">
      <img src="https://www.eurail.com/content/dam/maps/European%20Highlights%20Itinerary%20Map.adaptive.767.1659462408507.png" />
      <div class="card-trip-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
  </div>
</div>
