.avatar-container {
  position: absolute;
  z-index: 100;
  top: 35px;
  right: 45px;

  .avatar {
    width: 80px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

@media (max-width: 767px) {
  .avatar-container {
    top: 10px;
    right: 50%;
    transform: translateX(50%);

    .avatar {
      width: 60px;
    }
  }
}
