.banner {
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  height: 100vh;
}

.banner h2 {
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 42px;
  font-weight: normal ;
}

.banner h3 {
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 25px;
  font-weight: lighter;
}

.banner p {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.formcity {
  width: 90px;
}

.logo {
  width: 450px;
}

#new_journey {
  display: flex;
}

.ts-control {
  padding-bottom: 11px;
}
