.navbar-lewagon {
  justify-content: end;
  height: 70px;
  position: absolute;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.main-title {
  font-size: 60px;
}

.title-brand {
  margin-top: 120px;
  margin-left: 20px;
}
