$postcard-width: 20vw;
$postcard-height: 14.45vh;
$postcard-shadow-color: #333;
$text-shadow-color: #C03820;
$stay-text-color: #FFFFFF;

.postcards {
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  padding: 20px 40px;

  &:hover {
    padding-top: 40px;
  }
}

.postcards::before,
.postcards::after {
  content: '';
  margin: auto;
}

.postcard.postcard-line {
  font-family: "DIN Pro", sans-serif;
  font-size: 16px;
}

.postcard.postcard-stay {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  letter-spacing: -1px;
  line-height: 32px;
  color: $stay-text-color;
}

.postcard-wrap {
  margin-right: 10px;
  transform-style: preserve-3d;
  cursor: pointer;
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  filter: drop-shadow(rgba(0, 0, 0, 0.6) -8px 4px 10px 0px);
  position: relative;

  .delete-btn {
    position: absolute;
    width: 100%;
    top: -13%;
    left: 0%;
    z-index: 3;
    opacity: 0;
    transition: 0.3s ease;
  }

  .delete-btn a {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    background: red;
    border-radius: 50%;
    line-height: 40px;
    color: white;
    margin: 0px auto;
    margin-bottom: 20px;
    margin-right: -10px;
    font-size: 16px;
  }
}


.postcard-wrap:hover+.postcard-wrap {
  margin-left: 0px;
}

.postcard-wrap:hover {
  .delete-btn {
    opacity: 1;
  }
}

.postcard {
  position: relative;
  width: $postcard-width;
  height: $postcard-height;
  background-color: #333;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.postcard::before {
  content: "";
  background: white;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.postcard-bg {
  position: absolute;
  z-index: 2;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  top: 5px;
  left: 5px;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  pointer-events: none;
}


.postcard-stations,
.postcard-stations-shadow {
  position: absolute;
  left: 16px;
  top: 30px;
  width: calc(100% - 40px);
  display: block;
  transition: .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.postcard-stations {
  z-index: 4;
}

.postcard-stations-shadow {
  z-index: 3;
  text-shadow: 1px 1px 0px $text-shadow-color, 2px 2px 0px $text-shadow-color, 3px 3px 0px $text-shadow-color, 4px 4px 0px $text-shadow-color, 5px 5px 0px $text-shadow-color;
}

.ticket-top,
.ticket-bottom,
.ticket-concatenation {
  display: flex;
}

.ticket-top,
.ticket-bottom {
  height: 50%;
}

.ticket-city-start,
.ticket-city-end,
.ticket-duration,
.ticket-logo,
.ticket-distance {
  z-index: 100;
}

.ticket-top {
  justify-content: space-between;
  margin-left: 1vw;
  padding-top: 10px;
  overflow: clip;
}

.ticket-bottom {
  justify-content: normal;
  text-align: center;
  align-items: center;
  padding-top: 4%;
}

.ticket-city-end {
  margin-right: 1vw;
  text-align: end;
}

.text-distance,
.text-duration,
.ticket-city-name {
  margin-bottom: 0%;
  overflow: clip;
  height: 37%;
}

.ticket-text-small {
  font-size: 11px;
  color: grey;
  width: 6vw;
}

.ticket-dotted-line {
  position: relative;
  border-bottom: 1px dotted black;
  z-index: 100;
}

.ticket-distance {
  margin-left: 20%;
}

.ticket-city-start,
.ticket-city-end {
  width: 6vw;
}

.ticket-right-banner,
.ticket-left-banner {
  margin: 0 -1%;
}
