.left-side {
  width: 250px;
  height: 80vh;
  background: white;
  display: inline-block;
  position: relative;
  top: 40px;
  left: 20px;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  display: flex;
  z-index: 100;
  flex-direction: column;
}


// Searchbar

#side-search {
  width: 100%;
  margin-top: 20px;
}

#side-search .form-control {
  height: 2.7rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  border: 1px solid #E7E7E7;
  border-radius: 10px;
  background-color: white;
}

#side-search .form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#search_query {
  color: black;
}

input::placeholder {
  color: rgb(180, 180, 180) !important;
}

.station-list {
  margin-top: 40px;
  padding-left: 0px;
  overflow: auto;
}

.station-list li {
  list-style-type: none;
  padding: 10px;
  margin: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  border: 1px solid #E7E7E7;
  border-radius: 10px;
  background-color: #fff3e6;
}

#dropdown-show {
  width: 83%;
  margin-left: 23px;
}

#small-button {
  margin-top: 40px;
  width: 90px;
  height: 30px;
  margin-right: 73px;
}

#cta {
  z-index: 100;
  position: absolute;
  left: 46vw;
  top: 94vh;
}
