.left-side {
  width: max-content;
  background: white;
  position: relative;
  top: 30px;
  left: 30px;
  padding: 7px 14px;
  border-radius: 30px;
  z-index: 100;
  align-items: center;
  opacity: 85%;
}

.journey-name {
  padding-top: 15px;
  padding-left: 4em;
}

#journey_name {
  width: 280px;
  background: transparent;
  border: none;
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 2px;
  padding-left: 12px;
}

.save-button {
  padding-bottom: 0px;
  padding-top: 0px;
  border-radius: 13px;
  font-size: 12px;
  margin-left: 10px;
}

.validate-button {
  border-radius: 15px;
}

.pen {
  height: 17px;
  padding-right: 10px;
}

.text-btn {
  align-items: center;
}

.input-edit-name {
  margin-bottom: 4px;
}
