.left-side {
  width: max-content;
  background: white;
  position: relative;
  top: 30px;
  left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  z-index: 100;
  align-items: center;
  opacity: 85%;
}

.journey-name {
  padding-top: 15px;
  padding-left: 4em;
}

#journey_name {
  text-align: center;
  width: 280px;
  background: transparent;
  border: none;
  font-size: 22px;
  font-weight: bolder;
  font-family: 'PLAYFAIR DISPLAY';
  margin-bottom: 4px;
}

.save-button {
  padding-bottom: 0px;
  padding-top: 0px;
  border-radius: 13px;
  font-size: 12px;
  margin-right: 10px;
}

.validate-button {
  padding-bottom: 0px;
  padding-top: 0px;
  border-radius: 13px;
  margin-right: 10px;
}

.pen {
  height: 17px;
  padding-left: 10px;
}

.text-btn {
  align-items: center;
}

.input-edit-name {
  margin-bottom: 4px;
}
