$ticket-width: 280px;
$ticket-height: 130px;
$stay-width: 280px;
$stay-height: 130px;

.tickets-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  h4 {
    padding-left: 20px;
    margin: 0px;
    margin-right: 20px;
    font-weight: 800;
  }
}

.tickets {
  display: flex;
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  padding: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.ticket.ticket-line {
  font-size: 16px;
}

.ticket-wrap {
  margin-right: 10px;
  cursor: pointer;
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  filter: drop-shadow(rgba(0, 0, 0, 0.6) -8px 4px 10px 0px);
  position: relative;

  .delete-btn {
    position: absolute;
    width: 100%;
    top: -20px;
    z-index: 3;
    opacity: 0;
    transition: 0.3s ease;
  }

  .delete-btn a {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    background: red;
    border-radius: 50%;
    line-height: 40px;
    color: white;
    margin: 0px auto;
    margin-bottom: 20px;
    margin-right: -10px;
    font-size: 16px;
  }
}

.ticket-wrap:hover {
  .delete-btn {
    opacity: 1;
  }
}

.ticket {
  position: relative;
  width: $ticket-width;
  height: $ticket-height;
  background-color: white;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.ticket-top,
.ticket-bottom,
.ticket-concatenation {
  display: flex;
}

.ticket-top,
.ticket-bottom {
  height: 50%;
}

.ticket-city-start,
.ticket-city-end,
.ticket-data,
.ticket-logo {
  z-index: 1;
}

.ticket-top {
  justify-content: space-between;
  padding-top: 10px;
}

.ticket-bottom {
  justify-content: normal;
  text-align: center;
  align-items: center;
}

.ticket-city-end {
  text-align: end;
}

.text-distance,
.text-duration,
.ticket-city-name {
  margin-bottom: 0px;
}

.ticket-text-small {
  font-size: 14px;
  color: grey;
}

.ticket-dotted-line {
  position: relative;
  border-bottom: 1px dotted black;
  z-index: 100;
}

.ticket-data {
  flex-grow: 1;
  p {
    margin-bottom: 0px;
  }
}

.ticket-city-start,
.ticket-logo,
.ticket-city-end {
  flex-basis: 33.33%;
}

.ticket-logo {
  text-align: center;
  padding-bottom: 10px;
  svg {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
  }
}

.ticket-right-banner {
  margin-left: -2px;
}
.ticket-left-banner {
  margin-right: -2px;
}

// stays
.ticket-bg {
  position: absolute;
  z-index: 1;
  width: 190px;
  height: calc(#{$stay-height} - 2 * 10px);
  top: 10px;
  right: 10px;
  background-position: center;
  background-size: cover;
}

.ticket.ticket-stay {
  width: $stay-width;
  letter-spacing: -1px;
  color: black;
}

.stay-header,
.stay-duration {
  position: absolute;
  z-index: 2;
}

.stay-header {
  top: 10px;
  left: 10px;
  line-height: 32px;

  .stay-city {
    font-size: 28px;
    font-weight: bolder;
  }

  .stay-country {
    color: grey;
    font-size: 18px;
    font-weight: lighter;
  }
}

.stay-duration {
  color: grey;
  font-weight: lighter;
  left: 10px;
  bottom: 10px;

  i {
    color: #E6612F;
    margin-right: 5px;
  }
}

.ticket-clock {
  width: 22px;
  position: absolute;
  bottom: 12px;
  left: 14px;
  z-index: 4;
}
