#journeys {
  .card {
    width: 320px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .card-body {
    padding: 20px;
  }

  .card-img-container {
    height: 350px;
    overflow: hidden;
    position: relative;
  }

  .card-img-top {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  .card-avatar {
    width: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    // box-shadow: 0px 0px 6px 2px #ffffff7d;
  }

  .card-description {
    color: black;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card,
  .card-footer {
    background-color: white;
    color: black;
    // transition: .2s ease;
  }

  .card-footer {
    padding: 20px;
  }
}

#journeys {
  justify-content: space-around;
  margin-bottom: 80px;
}
