<div data-journey-target="loader" class="train-background d-none">
  <p class="train-text">
    Saving your map...
  </p>
  <div class= "train-loader">
    <div class="train"></div>
    <div class="track">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
