<div class="sidebar">
  <div class="d-flex align-items-center flex-grow-1">
    <i class="fa-solid fa-pencil"></i>
    <%= simple_form_for @journey, html: { class: "flex-grow-1", data: { journey_target: "journeyForm" } } do |f| %>
      <%= f.input_field :name, class: "journey-name", data: { journey_target: "nameInput", action: "keyup->journey#autosave" } %>
      <%= f.input_field :photo, as: :file, class: "d-none", data: { journey_target: "photoInput" } %>
    <% end %>
  </div>
  <button data-action="click->journey#validateJourney" class="btn btn-secondary btn-sm rounded-pill">Validate journey</button>
</div>
